<!--password_reset_confirm.html-->
{% extends 'vibemusic/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="header-title header-title-animated mb-4">Введите новый пароль</h1>

    {% if validlink %}
        {% if form.errors %}
            <div class="alert-container">
                <div class="alert alert-danger">Пожалуйста, исправьте ошибки ниже.</div>
            </div>
        {% endif %}

        <div class="form-container bg-dark p-4 rounded shadow-sm">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 position-relative">
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
                    <div class="input-group">
                        {{ form.new_password1 }}
                        <span class="spinner" id="new_password1-spinner"></span>
                        <div class="validation-message" id="new_password1-message"></div>
                    </div>
                    {{ form.new_password1.errors }}
                </div>
                <div class="mb-3 position-relative">
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтверждение пароля</label>
                    <div class="input-group">
                        {{ form.new_password2 }}
                        <span class="spinner" id="new_password2-spinner"></span>
                        <div class="validation-message" id="new_password2-message"></div>
                    </div>
                    {{ form.new_password2.errors }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Сохранить новый пароль</button>
            </form>
        </div>
    {% else %}
        <div class="alert-container">
            <div class="alert alert-danger">
                Ссылка для сброса пароля недействительна или истек срок действия. Пожалуйста, <a href="{% url 'vibemusic:password_reset' %}" class="text-primary">попробуйте снова</a>.
            </div>
        </div>
    {% endif %}
</div>

<script src="{% static 'vibemusic/js/password_reset_confirm_validation.js' %}"></script>
{% endblock %}

{% block title %}Новый пароль{% endblock %}