# === СЕКРЕТЫ ===
.env
.env.local
.env.development
.env.production
*.env

# === Django ===
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log

# === Virtualenv ===
venv/
env/
ENV/
.venv/

# === IDE ===
.idea/
.vscode/
*.swp

# === Docker (локальные) ===
Dockerfile.*
docker-compose.override.yml

# === Media & Static ===
media/
staticfiles/