{% load static %}
<ul class="navbar-nav">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'vibemusic:add_post' %}">Добавить пост</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'vibemusic/images/default-avatar.png' %}{% endif %}" 
                     alt="Аватар" class="rounded-circle avatar-img" style="width: 40px; height: 40px; object-fit: cover;">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li>
                    <div class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'vibemusic/images/default-avatar.png' %}{% endif %}" 
                                 alt="Аватар" class="rounded-circle avatar-menu-img" style="width: 50px; height: 50px; object-fit: cover;">
                            <div class="ms-2">
                                <h6 class="mb-0">{{ user.username }}</h6>
                                {% if user.profile.telegram_username %}
                                    <small class="text-muted">{{ user.profile.telegram_username }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="dropdown-item" href="{% url 'vibemusic:my_profile' %}">Мой профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'vibemusic:update_profile' %}">Настройки профиля</a></li>
                {% if user.profile.telegram_chat_id %}
                    <li><a class="dropdown-item" href="{% url 'vibemusic:telegram_settings' %}">Telegram</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="https://t.me/{{ TELEGRAM_BOT_USERNAME }}?start={{ telegram_token }}" target="_blank">Привязать Telegram</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="{% url 'vibemusic:logout_confirm' %}">Выход</a></li>
            </ul>
        </li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'vibemusic:register' %}">Регистрация</a></li>
    {% endif %}
</ul>