<!--password_reset_complete.html-->
{% extends 'vibemusic/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="header-title header-title-animated mb-4">Пароль успешно изменён</h1>
    <div class="alert-container">
        <div class="alert alert-success">
            Ваш пароль успешно изменён. Теперь вы можете войти.
        </div>
    </div>
    <p class="text-muted text-center">
        <a href="{% url 'vibemusic:login' %}" class="text-primary">Войти</a>
    </p>
</div>
{% endblock %}

{% block title %}Пароль изменён{% endblock %}