
<!--vibemusic/js/password_reset_done.html-->
{% extends 'vibemusic/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="header-title header-title-animated mb-4">Письмо отправлено</h1>
    <div class="alert-container">
        <div class="alert alert-success">
            Мы отправили вам письмо с инструкциями по сбросу пароля. Проверьте вашу почту.
        </div>
    </div>
    <p class="text-muted text-center">
        Вернуться к <a href="{% url 'vibemusic:login' %}" class="text-primary">входу</a>
    </p>
</div>
{% endblock %}

{% block title %}Письмо отправлено{% endblock %}